<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${'Vin: ' + econom.getVin()}">VALUE</p>
<p th:text="${'Brand: ' + econom.getBrand()}">VALUE</p>

<!--<a th:href="@{/econom/{id}/edit(id=${econom.getId()})}">Изменить</a>-->
<form th:action="@{/econom/{id}/edit(id=${econom.getId()})}">
    <input type="submit" value="Изменить"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/econom/{id}(id=${econom.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>